* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono";
    color: #3D3629;

    h1 {
        font-size: 32px;
    }
}

body {
    background-color: #E9E0C4;
    /* border-style: dashed; */
}

.header {
    /* border-style: dashed; */
    height: 5.5rem;
    margin-bottom: 2.5rem;
    margin-top: 0;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #3D3629;

    border-bottom: 3px solid #3D3629;
    /* transition: 1s; */
}

.header div {
    height: 3rem;

    display: flex;
    align-items: center;

    h1 {
        margin-left: 1rem;
        color: #E9E0C4;
    }

    #down {
        position: absolute;
        left: 5.7rem;
        top: 3.9rem;
    }

    img {
        margin-right: 1.2rem;
        margin-left: 0.8rem;
    }
}

main {
    /* border-style: dashed; */
    position: relative;
    top: 6rem;
    padding-bottom: 0.5rem;
    width: 100vw;
    overflow-y: scroll;
    scrollbar-width: none;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

main::-webkit-scrollbar {
    display: none;
    /* 隐藏 Chrome 和 Safari 浏览器的滚动条 */
}

.timeline-content {
    margin-bottom: 0.5rem;
    position: relative;
    display: flex;
}

.timeline-content:first-child {
    .medi {
        border-color: #724747;
        background-color: #724747;
        border-width: 4px 5px;
        border-style: solid;
        border-radius: 1rem;

        h3 {
            color: #E9E0C4;
        }

        p {
            color: #E9E0C4;
        }
    }

    .food {
        border-color: #4F6042;
        background-color: #4F6042;
        border-width: 4px 5px;
        border-style: solid;
        border-radius: 1rem;

        h3 {
            color: #E9E0C4;
        }

        p {
            color: #E9E0C4;
        }
    }

    .doc {
        border-color: #547377;
        background-color: #547377;
        border-width: 4px 5px;
        border-style: solid;
        border-radius: 1rem;

        h3 {
            color: #E9E0C4;
        }

        p {
            color: #E9E0C4;
        }
    }

}


.timeline-items {
    /* border-style: dotted; */
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.timeline-item {
    margin-bottom: 0.2rem;

    width: calc(100vw - 10rem);
    padding: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.food {
    border-color: #4F6042;
    border-width: 4px 5px;
    border-style: solid;
    border-radius: 1rem;

}

.doc {
    border-color: #547377;
    border-width: 4px 5px;
    border-style: solid;
    border-radius: 1rem;
}

.medi {
    border-color: #724747;
    border-width: 4px 5px;
    border-style: solid;
    border-radius: 1rem;
}

.date {
    /* border-style: dotted; */
    position: relative;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    width: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.circle {
    width: 2rem;
    height: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#today .circle {
    background-color: #3D3629;
    border-width: 3px;
    border-color: #3D3629;
    border-style: solid;
    border-radius: 2rem;
    color: #E9E0C4;
}

.month {
    margin: 0.5rem 1rem;
    height: 3rem;
    width: calc(100vw-1rem);
    border-bottom: 3px solid #3D3629;
}

menu {
    /* border-style: dashed; */
    div {
        height: 4rem;
        width: 4rem;
        border-radius: 4rem;
        /* border-style: solid; */
        background-color: #3D3629;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    position: fixed;
    width:100vw;

    height:4rem;
    bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.month-calendar{
    display: grid;
    position: absolute;
    top: 5.5rem;
    left: 0;
    width: calc(100vw - 1rem);
    padding: 0 0.5rem;
    z-index: 500;
    background-color: #3D3629;

    div {
        color: #E9E0C4;
        padding: 1rem;
    }

    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    grid-gap: 0 0.5rem;
}

.hidden {
    display: none;
}

@media (min-width: 600px) {
    .header {
        width: 600px;
    }

    main {
        width: 600px;
    }

    .timeline-item {
        width: calc(600px - 10rem);
    }

    menu {
        width: 600px;
    }

    .month-calendar {
        width: calc(600px - 1rem);
    }
}