body{
    background-color: antiquewhite;
    font-family:'Courier New', Courier, monospace;
}
main{
    display: flex;
    div{
        margin:1rem;
        padding:0.5rem 1.5rem;
        border: solid 2px orange;
    }
}    
div{
        margin:1rem;
        padding:0.2rem 1.5rem;
       
    }
button{
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: solid 2px orange;
    background-color: antiquewhite;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
}